core = 7.x
api = 2
  
; Drupal 7.x. Requires the `core` property to be set to 7.x.
projects[drupal][version] = 7.18

; Monkey profile
projects[monkey][type] = "profile"
projects[monkey][download][type] = "git"
projects[monkey][download][url] = "git@github.com:mslonina/monkey-drupal-profile.git"

; Languages
; This is a hack over Drush make
projects[translations][type] = "profile"
projects[translations][download][type] = "file"
projects[translations][download][url] =  "http://ftp.drupal.org/files/translations/7.x/drupal/drupal-7.18.pl.po"
; Important!
projects[translations][subdir] = "monkey"

; Base
projects[] = ctools
projects[] = context
projects[] = token
projects[] = jquery_update
projects[] = entity
projects[] = libraries
projects[] = ds

; Path
projects[] = pathauto
projects[] = pathologic

; Feeds
projects[] = feeds
projects[] = job_scheduler

; Views
projects[] = views
projects[] = views_bulk_operations
projects[] = views_field_view
projects[] = viewfield
projects[] = views_data_export
projects[] = views_rules
projects[] = views_dependent_filters

; Rules
projects[] = rules
projects[] = rules_conditional

; Date
projects[] = date
projects[] = calendar
projects[] = node_announce

; File upload
projects[] = insert
projects[] = filefield_sources
projects[] = plupload
projects[] = filefield_sources_plupload
projects[] = transliteration

libraries[plupload][type] = "libraries"
libraries[plupload][download][type] = "file"
libraries[plupload][download][url] = "https://github.com/downloads/moxiecode/plupload/plupload_1_5_4.zip"

; Image galleries
projects[] = galleryformatter
projects[] = jcaption
projects[] = colorbox

libraries[colorbox][type] = "libraries"
libraries[colorbox][download][type] = "file"
libraries[colorbox][download][url] = "http://www.jacklmoore.com/colorbox/colorbox.zip"

; Text filters
projects[] = markdown
projects[] = oembed

; Features
projects[] = strongarm
projects[] = features
; projects[] = config_builder

; Fields
projects[] = references
projects[] = link
projects[] = field_group
projects[] = field_formatter_settings
projects[] = field_multiple_limit
projects[] = ffc
projects[] = field_injector
projects[] = linked_field
projects[] = smart_trim
projects[] = fences
projects[] = field_label_plurals
projects[] = textformatter
projects[] = token_formatters
projects[] = field_formatter_css_class

; Content creation
projects[] = override_node_options
projects[] = wysiwyg
projects[] = edit_limit
projects[] = anonymous_posting 
projects[] = ccl
projects[] = view_unpublished

; Node access
projects[] = nodeaccess_userreference
projects[] = nodeaccess_nodereference
projects[] = premium_content
projects[] = permission_grid

; Spam protection
projects[] = mollom

; Users
projects[] = realname

; Social media integration
projects[] = disqus

; Twitter integration
projects[] = twitter
projects[] = oauth

; Facebook integration
projects[] = fb
libraries[facebook-php-sdk][type] = "libraries"
libraries[facebook-php-sdk][download][type] = "file"
libraries[facebook-php-sdk][download][url] = "https://github.com/facebook/facebook-php-sdk/archive/master.zip"

; Localization support
projects[] = variable
projects[] = i18n
projects[] = l10n_update

; Monkey features
projects[monkey_features][type] = "module"
projects[monkey_features][download][type] = "git"
projects[monkey_features][download][url] = "git://github.com/mslonina/monkey-features.git"

; Domain support
; projects[] = domain
; projects[] = domain_views
; projects[] = domain_variable
; projects[] = domaincontext
 
; Themes
projects[] = tao
projects[] = rubik
projects[] = fubik

; Keep an eye on the following:
; Calendar
; projects[] = fullcalendar
; projects[] = fullcalendar_templates
; projects[] = colors
; libraries[fullcalendar][type] = "libraries"
; libraries[fullcalendar][download][type] = "file"
; libraries[fullcalendar][download][url] = "http://arshaw.com/fullcalendar/downloads/fullcalendar-1.5.4.zip"
; projects[] = google_charts
; projects[] = views_chart_tools
; projects[] = draggable_views


