core = 7.x
api = 2
  
; Drupal 7.x. Requires the `core` property to be set to 7.x.
projects[drupal][version] = 7.18

; Monkey profile
projects[monkey][type] = "profile"
projects[monkey][download][type] = "git"
projects[monkey][download][url] = "git@github.com:mslonina/monkey-drupal-profile.git"

; Monkey features
projects[monkey_features][type] = "module"
projects[monkey_features][download][type] = "git"
projects[monkey_features][download][url] = "git://github.com/mslonina/monkey-features.git"

; Languages
; This is a hack over Drush make
projects[translations][type] = "profile"
projects[translations][download][type] = "file"
projects[translations][download][url] =  "http://ftp.drupal.org/files/translations/7.x/drupal/drupal-7.18.pl.po"
; Important!
projects[translations][subdir] = "monkey"

;
; An ultimate set of Drupal modules for site builders
;

; Base
projects[] = ctools
projects[] = context
projects[] = token
projects[] = jquery_update
projects[] = entity
projects[] = libraries
projects[] = ds

; Path
projects[] = pathauto
projects[] = pathologic

; Feeds
projects[] = job_scheduler
projects[] = feeds
projects[] = feeds_tamper
projects[] = feeds_xpathparser
projects[] = feeds_crawler
projects[] = feeds_regex_parser
projects[] = querypath
projects[] = feeds_querypath_parser

; Views
projects[] = views
projects[] = views_bulk_operations
projects[] = views_field_view
projects[] = viewfield
projects[] = views_data_export
projects[] = views_rules
projects[] = views_dependent_filters
projects[] = views_rss
projects[] = views_fieldsets
projects[] = views_ical
projects[] = draggableviews
projects[] = views_simple_pager
projects[] = admin_views
projects[] = views_send
projects[] = better_exposed_filters

; Views node taxonomy filter
projects[] = vntf

; Rules
projects[] = rules
projects[] = rules_conditional

; Date
projects[] = date
projects[] = date_ical
projects[] = datepicker
projects[] = calendar
projects[] = node_announce

; File upload
projects[] = insert
projects[] = filefield_sources
;projects[] = visual_select_file
projects[] = plupload
projects[] = filefield_sources_plupload
projects[] = transliteration

libraries[plupload][type] = "libraries"
libraries[plupload][download][type] = "file"
libraries[plupload][download][url] = "https://github.com/downloads/moxiecode/plupload/plupload_1_5_4.zip"

; Image galleries
projects[] = galleryformatter
projects[] = jcaption
projects[] = colorbox

libraries[colorbox][type] = "libraries"
libraries[colorbox][download][type] = "file"
libraries[colorbox][download][url] = "http://www.jacklmoore.com/colorbox/colorbox.zip"

; Text filters
projects[] = markdown
projects[] = oembed

; Features
projects[] = strongarm
projects[] = features

; Config builder
projects[] = options_element
projects[] = form_builder
projects[config_builder] = config_builder
projects[config_builder][patch][1823562] = http://drupal.org/files/remove_make-1823562-1.patch

; For distro builders (setup screen)
projects[] = setup

; Fields
projects[] = references
projects[] = references_id_trim
projects[] = link
projects[] = field_group
projects[] = field_formatter_settings
projects[] = field_multiple_limit
projects[] = ffc
projects[] = field_injector
projects[] = linked_field
projects[] = smart_trim
projects[] = fences
projects[] = title
; projects[] = field_label_plurals
; projects[] = textformatter
; projects[] = token_formatters
; projects[] = field_formatter_css_class

; Field collection
projects[] = field_collection
projects[] = field_collection_views
projects[] = field_collection_table
projects[] = field_collection_bulkupload

; Entity reference
projects[] = entityreference
projects[] = entityreference_view_widget
projects[] = entityreference_prepopulate
projects[] = inline_entity_form

; Content creation
projects[] = override_node_options
projects[] = wysiwyg
projects[] = edit_limit
projects[] = anonymous_posting 
projects[] = content_approval
projects[] = view_unpublished
projects[] = creativecommons

; Node and field access
projects[] = nodeaccess_userreference
projects[] = nodeaccess_nodereference
projects[] = field_permissions
; projects[] = premium_content
; projects[] = permission_grid

; Spam protection
projects[] = mollom

; Users
projects[] = realname

; Custom Contextual Links
projects[] = ccl

; UI
projects[] = quicktabs
projects[] = menu_icons

; Maps
projects[] = simple_gmap
projects[] = gmap

; Social media integration
projects[] = disqus
projects[] = livefyre
projects[] = facebook_comments_box

; Twitter integration
projects[] = twitter
projects[] = oauth

; Facebook integration
projects[] = feeds_facebook
projects[] = fb
libraries[facebook-php-sdk][type] = "libraries"
libraries[facebook-php-sdk][download][type] = "file"
libraries[facebook-php-sdk][download][url] = "https://github.com/facebook/facebook-php-sdk/archive/master.zip"

; Localization support
projects[] = variable
projects[] = i18n
projects[] = l10n_update

; Webform
projects[] = webform
projects[] = webform_select_opts
projects[] = webform_autocomplete
projects[] = webform_scheduler

; Voting
projects[] = votingapi
projects[] = fivestar

; Domain support
; projects[] = domain
; projects[] = domain_views
; projects[] = domain_variable
; projects[] = domaincontext
; projects[] = domain_roles
; projects[] = domain_types
; projects[] = domain_tax
; projects[] = domain_robotstxt

; html5
projects[] = elements
projects[] = html5_tools
 
; Themes
projects[] = tao
projects[] = rubik
projects[] = fubik
projects[] = writer
projects[] = elementary
projects[] = gogland
projects[] = boron
projects[] = cogito

; Experimental
projects[] = linkit
projects[] = speedy
projects[] = references_dialog

; This may play well for newsletters with views_send
projects[] = simple_subscription

; Boxes
projects[] = entity_autocomplete
projects[] = boxes
projects[] = entity_boxes
projects[] = field_boxes
projects[] = views_boxes
projects[] = context_field

; Contexts
projects[] = context_set_message
projects[] = context_entity_field
projects[] = context_disable_context

; Utilities
projects[] = checkbox_filter
projects[] = filter_perms

; Drupal8
; projects[] = backports

; Calendar
projects[] = fullcalendar
projects[] = fullcalendar_templates
projects[] = colors
libraries[fullcalendar][type] = "libraries"
libraries[fullcalendar][download][type] = "file"
libraries[fullcalendar][download][url] = "http://arshaw.com/fullcalendar/downloads/fullcalendar-1.5.4.zip"

; Bootstrap
libraries[bootstrap][type] = "libraries"
libraries[bootstrap][download][type] = "file"
libraries[bootstrap][download][url] = "http://twitter.github.com/bootstrap/assets/bootstrap.zip"

; Foundation
libraries[foundation][type] = "libraries"
libraries[foundation][download][type] = "file"
libraries[foundation][download][url] = "http://foundation.zurb.com/files/foundation-3.2.2.zip"

; Font Awesome
libraries[font_awesome][type] = "libraries"
libraries[font_awesome][download][type] = "file"
libraries[font_awesome][download][url] = "https://github.com/FortAwesome/Font-Awesome/archive/v3.0.0.tar.gz"

; Keep an eye on the following:
; Media
;projects[] = file_entity
;projects[media] = media
;projects[media][version] = 2.0-unstable7
;projects[] = remote_stream_wrapper

