core = 7.x
api = 2
  
; Drupal 7.x. Requires the `core` property to be set to 7.x.
projects[drupal][version] = 7.18

; Monkey profile
projects[monkey][type] = "profile"
projects[monkey][download][type] = "git"
projects[monkey][download][url] = "git@github.com:mslonina/monkey-drupal-profile.git"

; Modules
projects[] = ctools
projects[] = context
projects[] = date
projects[] = features
projects[] = link
projects[] = ds
projects[] = entity
projects[] = feeds
projects[] = field_group
projects[] = insert
projects[] = libraries
projects[] = mollom
projects[] = pathauto
projects[] = references
projects[] = token
projects[] = transliteration
projects[] = rules
projects[] = views
projects[] = views_bulk_operations
projects[] = filefield_sources
projects[] = plupload
projects[] = filefield_sources_plupload
projects[] = markdown
projects[] = override_node_options
projects[] = job_scheduler
projects[] = oembed
projects[] = nodeaccess_userreference
projects[] = nodeaccess_nodereference
projects[] = strongarm
projects[] = views_field_view
projects[] = viewfield
projects[] = realname
projects[] = galleryformatter
projects[] = field_formatter_settings
projects[] = field_multiple_limit
projects[] = ffc
projects[] = field_injector
projects[] = linked_field
projects[] = smart_trim
projects[] = disqus
projects[] = jquery_update
projects[] = jcaption
projects[] = colorbox
projects[] = wysiwyg

; Monkey features
projects[monkey_features][type] = "module"
projects[monkey_features][download][type] = "git"
projects[monkey_features][download][url] = "git://github.com/mslonina/monkey-features.git"

; Localization support
projects[] = variable
projects[] = i18n
projects[] = l10n_update

; Domain support
; projects[] = domain
; projects[] = domain_views
; projects[] = domain_variable
; projects[] = domaincontext
 
; Libraries
libraries[plupload][type] = "libraries"
libraries[plupload][download][type] = "file"
libraries[plupload][download][url] = "https://github.com/downloads/moxiecode/plupload/plupload_1_5_4.zip"

libraries[colorbox][type] = "libraries"
libraries[colorbox][download][type] = "file"
libraries[colorbox][download][url] = "http://www.jacklmoore.com/colorbox/colorbox.zip"

; Facebook integration
projects[] = fb
libraries[facebook-php-sdk][type] = "libraries"
libraries[facebook-php-sdk][download][type] = "file"
libraries[facebook-php-sdk][download][url] = "https://github.com/facebook/facebook-php-sdk/archive/master.zip"

; Twitter integration
projects[] = twitter
projects[] = oauth

; Keep an eye on the following:
; Calendar
; projects[] = fullcalendar
; projects[] = fullcalendar_templates
; projects[] = colors
;libraries[fullcalendar][type] = "libraries"
;libraries[fullcalendar][download][type] = "file"
;libraries[fullcalendar][download][url] = "http://arshaw.com/fullcalendar/downloads/fullcalendar-1.5.4.zip"
; projects[] = google_charts
; projects[] = views_chart_tools
; projects[] = draggable_views


